@font-face {
  font-family: Grenadier;
  src: url(../assests/fonts/GrenadierNF.ttf);
}

body {
  /* background-color: rgb(245, 242, 223); */
  background-color: #f6d8ab;
  z-index: -5;
  /* overflow: hidden; */
}

#root {
  display: grid;
  grid-template-columns: 400px auto;
}
