.filter-form {
  background-color: rgb(245, 242, 223);
}

.title {
  background-color: skyblue;
  height: 150px;
}

.title h1 {
  margin: 0;
}

.filter-button {
  background-color: palegoldenrod;
  border: none;
  border-radius: 10%;
  text-align: center;
  padding: 10px;
  text-decoration: none;
  font-size: 16px;
  margin: 2px;
  margin-top: 25px;
  cursor: pointer;
}
