.filter-form {
  background-color: #f3ecca;
}

.title {
  position: relative;
  height: 150px;
  background-image: url(../assests/logo.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.title h1 {
  margin: 0;
}

.title button {
  position: relative;
  /* position: absolute;
  right: 0;
  bottom: 0; */
}

.title p {
  margin: 0;
}

.filter-button {
  background-color: palegoldenrod;
  border: none;
  border-radius: 10%;
  text-align: center;
  padding: 10px;
  text-decoration: none;
  font-size: 16px;
  margin: 2px;
  margin-top: 25px;
  cursor: pointer;
}
