.collapsible {
  width: 100%;
  cursor: pointer;
}

.filter-list {
  display: grid;
  grid-template-columns: repeat(5, auto);
  grid-row-gap: 15px;
}

.switch {
  padding: 10px;
}

.switch input[type="checkbox"] {
  opacity: 0;
  width: 0;
  height: 0;
}

.toggle::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  background-color: palegoldenrod;
  right: -25px;
}

.toggle {
  cursor: pointer;
  position: relative;
  display: inline-block;
  background-color: red;
  color: #FFF;
  height: 25px;
}



input:checked + .toggle,
input:checked + .toggle::after {
  background-color: green;
}

.filter-title#liquor,
.filter-title#liquor:before {
  background-color: #000;
}

.filter-title#ingredient,
.filter-title#ingredient:before {
  background-color: orange;
}

.filter-title {
  position: relative;
  width: 100%;
  height: 50px;
  margin: 0;
  margin-bottom: 5px; /* maybe a placeholder */
}

.filter-title:before {
  content: "";
  background-color: #000;
  position: absolute;
  height: 100%;
  width: 100vw;
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;
}

.filter-title span,
.filter-title h2 {
  position: absolute;
  color: #fff;
  margin: 0;
}

.filter-title h2 {
  bottom: -8px;
  left: 50px;
  font-size: 35px;
}

.filter-title span {
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 40px;
}
