.checkbox {
  /* background-color: paleturquoise; */
  margin: 15px;
}

.checkbox > * {
  display: inline-block;
}

.checkbox label {
  background-color: peru;
  padding: 10px;
  /* width: 100%;
  margin: 5px; */
}

.checkbox .box {
  background-color: peru;
  padding: 10px;
}
