.greeting-container {
  background-color: #f4d8ab;
  position: relative;
  height: 100vh;
}

.greeting-container h2 {
  margin: 0;
  font-size: 134pt;
  font-family: Grenadier;
  font-weight: normal;
  text-transform: lowercase;
  font-variant: small-caps;
}

.greeting-container h2::first-letter {
  text-transform: uppercase;
}

.greeting-card {
  position: absolute;
  top: 50%;
  transform: translate(10%, -50%);
  width: 60%;
  height: 80%;
  font-size: 15pt;
}

.greeting-card p span {
  color: #f26522;
}

.greeting-button {
  background-color: #f26522;
  border: none;
  color: white;
  height: 50pt;
  width: 45%;
  cursor: pointer;
  font-size: 16px;
}
