.cocktail-list {
  display: grid;
  grid-template-columns: repeat(2, auto);
}

.cocktail-card {
  /* position: relative; */
  width: 350px;
  margin: 10px;
  /* display: inline-block; */
  /* font-size: 17px; */
}

.cocktail-name,
.cocktail-garnish,
.cocktail-ingredients {
  /* width: 100%; */
  /* display: inline-block; */
  position: relative;
  /* padding-right: 25px; */
}

.label {
  position: absolute;
  margin: 0;
  z-index: 1;
  height: 100%;
  padding-right: 5px;
  background-color: skyblue;
  background-color: rgb(245, 242, 223);
}

.item-list {
  text-align: right;
  position: relative;
  width: 100%;
}

.dotted::before {
  content: ".............................................................................";
  position: absolute;
  right: 0;
  z-index: -1;
}

/* .text::before {
  content: "...................";
  position: absolute;
  right: 0;
} */

.text {
  /* background-color: palegreen; */

  padding-left: 5px;
}

.text p {
  margin: 0;
  background-color: red;
  padding-left: 5px;
  display: inline-block;
  z-index: 2;
  background-color: rgb(245, 242, 223);
}

hr {
  width: 100%;
  margin: 10px 0;
}
