.result-container {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-gap: 10px;
  margin: 10px;
}

.box {
  height: 100px;
  grid-column: span 2;
  position: relative;
  border: 5px solid #000;
  border-style: double;
}

.box {
  display: grid;
  grid-template-columns: repeat(2, auto);
}

.box p {
  margin: 15px;
}
