.selected-list {
  padding: 0;
}

.selected-list > * {
  display: inline-block;
}

.selected div {
  padding: 5px;
  margin: 0 5px;
  border-radius: 15%;
}

.selected#liquor div {
  background-color: palegreen;
}

.selected#ingredients div {
  background-color: paleturquoise;
}
